@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primaria: #3498DB;
    --primaria-dark: #2980B9;
    --primaria-light: #2F80ED;

    --secundaria: #9B59B6;
    --secundaria-dark: #A00037;
    --secundaria-light: #FF5C8D;
    
    --h2: #828282;
    --bege: #B47B92;
    --azul: #009BE5;
    --text: #243E6A;
    --branco: #FFFFFF;
    --cinza: #1d1212;
    --body: #F0F0F7;
    --fundo: #DCE6F2;
    --SubMenuFundo: #243E6A;
    --gray: #c2c2c2;
    --rodape: #424155;
    --copy: #2B2B2B;
    font-size: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    background-color: var(--fundo);
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--body);
}
